// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#company-index {
  h1 {
    margin-bottom: 0;
  }
  .section {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0;
    text-align: center;
  }
  .card {
    flex-basis: 31.6%;
    max-width: 31.6%;
    margin: 2px 3.3px;
    .card-section {
      color: $Black;
    }
  }
}

#company-show {
  .hero {
    height: 180px;
    background: linear-gradient(0deg, rgba(21, 42, 85, 0.6), rgba(21, 42, 85, 0.6)), url('CompanyDefault.png') center center no-repeat, #C4C4C4;
    mix-blend-mode: luminosity;
    margin: 0 -16px 60px -16px;
    position: relative;
    .name, .logo {
      position: absolute;
    }
    .name {
      left: calc(64px + 120px + 16px);
      bottom: 22px;
      color: $White;
      font-size: 2.2em;
      text-shadow: 0 0 1px rgba(0, 35, 64, 1);
    }
    .logo {
      left: 64px;
      top: 100px;
      height: 80px;
      width: 80px;
      border: 20px solid $White;
      box-shadow: 0 0 4px 1px rgba(0, 35, 64, 0.32);
      border-radius: 12px;
      background: url('CompanyLogoDefault.png') center / contain no-repeat, $White;
    }
  }
}
