// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#company-index {
  h1 {
    margin-bottom: 0;
  }
  .section {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0;
    text-align: center;
  }
  .card {
    flex-basis: 31.6%;
    max-width: 31.6%;
    margin: 2px 3.3px;
    .card-section {
      color: $Black;
    }
  }
}

#company-show {
  .hero {
    min-height: 40vh;
    background: darken($White, 10%);
    margin: -2px -16px 0 -16px;
    padding: 32px 64px;
    .hero-section {
      width: 100%;
    }
    .info-section {
      background: $White;
      border-radius: 12px;
      padding: 64px 32px 32px 32px;
      .percentage {
        font-size: 5em;
      }
      div {
        text-align: center;
        margin: 0 auto 32px auto;
        * {
          display: inline-block;
        }
      }
    }
    h1 {
      margin: 0 0 32px 0;
    }
  }
}
