html, body {
  color: $Black;
  background: $White;
  font-size: 1em;
  font-family: "QuincyCFExtraBold", "AdobeClean", "AirbnbCereal-Bold", Sans-Serif, serif;
}

.section {
  margin-bottom: 16px;
}

.wrapper {
  // 100% - navbar-height - not-sure - footer-height - footer-padding - footer-margin
  min-height: calc(100vh - 67px - 19px - 45px - 32px - 64px);
  margin-top: 61px;
  padding: 2px 16px 0 16px;
}

.highlight {
  font-weight: 900;
  color: $Highlight;
}

.card {
  border: 1px solid $Secondary;
  padding: 8px;
  border-radius: 4px;
}

::selection {
  background: rgba(254, 83, 12, 0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(254, 83, 12, 0.5); /* Gecko Browsers */
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.float-right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/******************************************************
ADMIN
******************************************************/

.admin-container {
  float: right;
  .admin-fill {
    flex-grow: 1;
  }
  .admin {
    border: 1px solid $Grey;
    padding: 16px;
    display: flex;
    flex-direction: column;
    a {
      margin-top: 8px;
    }
  }
}
