@font-face {
  font-family: "AirbnbCereal-Bold";
  src: url("AirbnbCereal-Bold.ttf");
}
@font-face {
  font-family: "AdobeClean";
  src: url("AdobeClean/AdobeClean-Black.otf");
}
@font-face {
  font-family: "QuincyCFExtraBold";
  src: url("QuincyCFExtraBold/QuincyCFExtraBold.otf");
}
