form {
  width: 100%;
  margin: 16px 0;
  input, textarea, select {
    border: 1px solid grey;
    margin: 0 0 8px 0;
    background: none;
    border-radius: 4px;
    padding: 4px;
  }
  input:focus, textarea:focus, select:focus {
    outline: 1px solid deepskyblue;
  }
  input {

  }
  label {
    text-transform: capitalize;
  }
  textarea {
    resize: none;
    width: 98%;
    min-height: 400px;
    background: none;
  }
  .form-field {
    margin-right: 8px;
    label {
      display: block;
    }
    label.inline {
      display: inline-block;
    }
  }
}

#company-search {
  input {
    border-radius: 12px;
    padding: 8px 12px;
  }
}
