.fa-times {
  color: $Highlight;
}

.fa-check {
  color: $Gold;
  filter: drop-shadow(0 1px 1px rgba(0, 35, 64, 0.32));
}

.fa-star {
  z-index: 5;
}

.fa-star-o {
  z-index: 1;
}


.outer-stars {
  white-space: nowrap;
  position: relative;
  display: inline-block;
  color: $Gold;
  height: 1.3em;
  font-size: 1.3em;
  margin-left: 4em;
}

.stars.overall {
  font-size: 1.4em;
  .outer-stars {
    margin-left: 4em;
  }
}

.stars {
  display: inline-block;
  position: relative;
  span {
    top: 10%;
    left: 0;
    position: absolute;
  }
}

.outer-stars.denied {
  color: $Highlight;
}

.inner-stars {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.inner-starso {
  position: absolute;
  top: 0;
  left: 0;
}
