a, a:link, a:visited, a:active, .turbo-link {
  color: deepskyblue;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .turbo-link:hover {
  color: deeppink;
}

.turbo-link.highlight:hover, a.highlight:hover {
  cursor: default;
  color: $Highlight;
}
