<div id='footer'>
  <div class='flex sb'>
    <div class='left'>&copy; Openly <span id="year"></span></div>
    <div class='right'>
      <div>The Best Company, LLC</div>
      <div>Brooke Bell & Garrett Stott</div>
    </div>
  </div>
</div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
